body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffff;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.logonav-container {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-container a {
  margin-right: 76px;
}

.ul-container {
  display: flex;
  gap: 40px;
}

.list-container {
  padding: 24px 0;
}

.contact-container {
  display: flex;
  gap: 40px;
}
.logo {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2e2f42;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

header nav .nav-list:hover,
header nav .nav-list:active,
header nav .nav-list:focus {
  color: #404bbf;
}

.contact-info {
  font-style: normal;
}

.contact-mail-number {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-info li a {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-info .contact-mail-number:hover,
.contact-info .contact-mail-number:focus,
.contact-info .contact-mail-number:active {
  color: #404bbf;
}

.hero-image {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-image-title {
  font-size: 50px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
}

.hero-image-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.03em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-image-button:hover {
  background-color: #404bbf;
}

.section-l-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-l-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-2 {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.ot-ul-container {
  display: flex;
  gap: 24px;
}
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.name {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
}

.name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.name-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;

}

.section-3 {
  padding: 120px 0;
}

.our-portfolio {
  margin-bottom: 72px;
}

.op-ul-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.op-list-container {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ot-div-container {
  padding: 32px 0;
}

.footer {
  padding: 100px 0;
}

.f-div-container a {
display: inline-block;
margin-bottom: 16px;
}

.f-div-container p {
  max-width: 264px;
}